{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": "*.md, *.html",
			"options": {
				"singleQuote": false,
				"printWidth": 80
			}
		},
		{
			"files": "*.svg",
			"options": {
				"parser": "xml"
			}
		}
	]
}
