{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"tabWidth": 1,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": false,
	"overrides": [
		{
			"files": ["*.md", "*.markdown", "*.html"],
			"options": {
				"singleQuote": false,
				"printWidth": 135,
				"embeddedLanguageFormatting": "auto"
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"parser": "html"
			}
		},
		{
			"files": ["*.svg"],
			"options": {
				"parser": "xml"
			}
		},
		{
			"files": ["*.prettier*"],
			"options": {
				"parser": "json"
			}
		}
	]
}
